.browser-title-bar {
    -fxbackground-color: white;
}
.container {
    -fx-background-color: white;
}
.btn-border {
    -fx-background-color: transparent;
    -fx-background-radius: 24; /* Adjust the radius to make it more or less rounded */
    -fx-border-radius: 24;
    /*-fx-border-color: #3498db; !* Border color *!*/
    -fx-border-width: 2; /* Border width */
    -fx-text-fill: #3498db; /* Text color */
    -fx-font-size: 12px; /* Adjust font size as needed */
}
.btn-border:hover {
    -fx-background-color: #89939a; /* Background color on hover */
}

.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
    -fx-border-color: #7894a8;
    -fx-padding: 6;
}

.btn-normal {
    -fx-padding: 2;
    -fx-border-color: #babad7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-background-color: #18182c;
}
.btn {
    -fx-padding: 2;
    -fx-border-width: 0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.tab-pane {
    -fx-background-color: #F8F8F8 !important; /* Set the background color of the TabPane */
}

.tab {
    -fx-background-color: white;
    -fx-text-fill: black; /* Set the text color */
    -fx-font-weight: bold; /* Set the font weight */
    -fx-background-radius: 10 10 0 0; /* Set the background radius to remove rounded corners */
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 0;
}

.tab:selected {
    -fx-background-color: #9fb0b9; /* Set the background color for the selected tab */
}

.text-area {
    -fx-background-color: #f0f0f0; /* Background color */
    -fx-text-fill: #333333; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 10px; /* Padding */
    -fx-border-color: #999999; /* Border color */
    -fx-border-width: 1px; /* Border width */
}

.text-area:focused {
    -fx-border-color: #0078d4; /* Border color when focused */
}
